<h1> Transaction Recap</h1><br><br>


<p> You bought one <b><%= @transaction.currency %></b> at a price of <b><%= @transaction.price %>$</b>.<br>
You wrote the followind memo to justify this purchase: <b><%= @transaction.comments %></b></p><br><br>

<form action="/transactions/<%=@transaction.id%>/edit">
  <input type="submit" value="Edit Transaction">
</form><br>

<form method="post" action="/transactions/<%=@transaction.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Transaction">
</form><br>

<form action='/transactions/new'>
  <input type="submit" value="New Transaction">
</form><br>

<form action="/users/<%=current_user.slug%>">
  <input type="submit" value="My Transactions">
</form><br>

<form action="/transactions">
  <input type="submit" value="Recent Transactions">
</form><br>

<form action="/logout">
  <input type="submit" value="Logout">
</form>