<h2 class="container-fluid text-center"> Name: <%=@workout.name %> </h2>
<iframe class="container-fluid text-center" width="840" height="472.5" src="<%=@workout.website %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<p> Duration: <%=@workout.duration %> </p>
<p> Difficulty: <%=@workout.difficulty %> </p>
<p> Body Focus: <%=@workout.body_focus %> </p>
<p> Training Type: <%=@workout.training_type %> </p>
<p> Equipment Needed: <%=@workout.equipment_needed %> </p>
<p> Website: <a href="<%=@workout.website %>" target="_blank" ><%=@workout.website %></a> </p>
<p> Notes: <%=@workout.notes %> </p>

<% if @workout.user_id==current_user.id %>
<form action="/workouts/<%= @workout.id %>/delete" method="post">
   <input id="hidden" type="hidden" name="_method" value="delete">
   <input type="submit" value="Delete Workout">
 </form>

<a href="/workouts/<%= @workout.id %>/edit">Edit Workout</a>
<% end %>
