<<<<<<< HEAD
Workout show
=======
  <%= @club.name %><br />
  <%= @club.manufacturer %> <br />
  Bag: <a href="/bags/<%=@club.golf_bag.id%>"><%= @club.golf_bag.name %></a> <br />
  <a href="/clubs/<%=@club.id%>/edit">Edit</a>
  <br />
  <br />
>>>>>>> 3fa39cf7bcb96c9b5487dd8830c5f6ecae00750c
