<h2> <%=@workout.name %> </h2>
<p> <a href="<%=@workout.website %>" target="_blank" ><%=@workout.website %></a> </p>
<p> <%=@workout.duration %> </p>
<p> <%=@workout.difficulty %> </p>
<p> <%=@workout.body_focus %> </p>
<p> <%=@workout.training_type %> </p>
<p> <%=@workout.equipment_needed %> </p>
<p> <%=@workout.notes %> </p>
