<h2 class="container-fluid text-center">All Workouts!</h2>

<br>

<div class="container">
  <div class="row">
    <% @workouts.each do |workout| %>
      <div class="col-sm-4">
        <div class="container-fluid text-center"><a href="/workouts/<%=workout.id%>"> <%=workout.name%></a><br>
        <img src="<%=workout.photo%>" class="img-responsive" width="170" height="120" alt="Image"><br>
        <%=workout.training_type%> || <%=workout.duration%></div>
        <br>
        <br>
      </div>
    <% end %>
  </div>
</div>
