<h2>Greetings User <%= @musician.username %>.</h2>

<h2>Create a <a href="/reviews/create">Review</a></h2>

<h2>REVIEWS:</h2>
<% @musician.reviews.each do |review| %>
  <ul>
  <li><a href="/reviews/<%= review.id %>">Review</a></li>
  <li>Venue: <%= review.venue.name %></li>
  <li>Location: <%= review.venue.location %></li>
  <li>Review: <%= review.content %></li>
  </ul>
<% end %>
