<h1><%= @org.name %></h1>

<p>
  <%= @org.address %>
  <br />
  <%= @org.city %>, <%= @org.state %> <%= @org.zip %>
  <br />
  <%= @org.phone %>
  <br />
  <%= @org.email %>
  <br />
  <%= @org.website %>
</p>
<p>
  <%= @org.description %>
</p>
