<h1>Edit <%= @tourist.name %></h1>

<form action="/tourists/<%=@tourist.id %>" method="POST">
  <label> Tourist Name </label>
  <input type="text" name="name" value="<%=@tourist.name %>"> </br>

  <label> Tourist Manufacturer </label>
  <input type="text" name="nationality" value="<%=@tourist.nationality%>"> </br>

  <label> Which Tourist does this belong in? </label>
  <select name="cruise_ship_id">
    <% current_user.cruise_ships.each do |ship| %>
      <option value=<%=ship.id %> <%= "selected" if ship.id==@tourist.cruise_ship.id %> ><%= ship.name %></option>
    <% end %>
  </select>

  <input type="submit" value="Update">
</form>