  <%= @tourist.name %><br />
  <%= @tourist.manufacturer %> <br />
  Ships: <a href="/ships/<%=@tourist.cruise_ship.id%>"><%= @tourist.cruise_ship.name %></a> <br />
  <a href="/tourists/<%=@tourist.id%>/edit">Edit</a>
  <br />
  <br />