
<h3 class="container-fluid text-center"> Workouts added by: <%=@user.username.capitalize %> </h3>
<div class="container">
  <div class="row">
  <form class="col-sm-6 text-right" method="POST" action="/friend">
    <input id="hidden" type="hidden" name="friend_id" value="<%=@user.id%>">
  <input type="submit" value="Follow">
</form>
</div>
</div>

<br>

  <div class="container">
    <div class="row">
      <% @user.workouts.each do |workout| %>
          <div class="col-sm-4">
          <div class="container-fluid text-center"><a href="/workouts/<%=workout.id%>"> <%=workout.name%><br>
          <img src="<%=workout.photo%>" class="img-responsive" width="170" height="120" alt="Image"><br> </a>
          <%=workout.training_type%> || <%=workout.duration%></div>
          <br>
          <br>
        </div>
      <% end %>
    </div>
  </div>
