<h1>Welcome to Your Account, <%= current_user.nickname %></h1>

<% if @organization %>
  <h2>Your Organization:</h2>
  <p>
    Name: <%= @organization.name %>
  </p>
  <p>
    Address: <%= @organization.address %>
  </p>
  <p>
    Phone: <%= @organization.phone %>
  </p>
  <p>
    Email: <%= @organization.email %>
  </p>
  <p>
    Website: <%= @organization.website %>
  </p>
  <p>
    Description: <%= @organization.description %>
  </p>

<% else %>
  <a href="/orgs/new">Add An Organization</a>
<% end %>
