<h2><%= @user.username %> Shoes Collection</h2>
<% @user.shoes.each do |t|%>
    <ul>name: <%= t.name%></ul>
    <ul>Color: <%= t.color%></ul>
    <ul>Brand: <%= t.brand%></ul>
    <a href="/shoes/<%= t.slug%>/edit">Edit</a><br>
  </ul>
<%end %>

<a href="/shoes/new">Add a new pair of shoes</a><br>

<p><a href="/logout">Log Out</a></p>
