<h2> <%=@workoutname.name %> </p>
<p> <%= @workoutname.duration%> </p>
<p> <%= @workoutname.difficulty%> </p>
<p> <%= @workoutname.body_focus%> </p>
<p> <%= @workoutname.training_type%> </p>
<p> <%= @workoutname.equipment_needed%> </p>
<p> <%= @workoutname.notes%> </p>
<p> <%= @workoutname.website%> </p>
