  <%= @ship.name %><br />
  <%= @ship.capacity %> <br />

  <h2>Passengers</h2>
  <ol>
  <% @ship.tourists.each do |tourist| %>
    <li><a href="/tourists/<%=tourist.id%>"><%= tourist.name %></a></li>
  <% end%>
  </ol>
  <a href="/ships/<%=@ship.id%>/edit">Edit</a>
  <br />
  <br />