<h1>Request:</h1>

<%= @request.user.username %>: <%= @request.content %>

<ul>
  <% @request.recommendations.each do |recommendation| %>
    <li><%= @recommendation.user.username %>: <%= @recommendation.content %></li>
  <% end %>
</ul>

<a href="/requests/<%= @request.id %>/edit">Edit Request</a>

<br></br>

<form action="/requests/<%= @request.id %>/delete" method="POST">
  <input type="hidden" id="hidden" name="_method" value="delete">

  <input type="submit" value="Delete Request" id="Delete Request">
</form>
