<h1>Profile Information</h1>

<p>Welcome, <%= @user.username %>.</p>

<a href="/requests/new">Create a New Request</a>

<a href="/recommendations/new">Create a New Recommendation</a>

<br></br>

<a href="/requests">View Your Requests Here:</a>

<% if @user.requests.empty? %>
  <p>Please create a request.</p>
<% else %>
  <ol>
  <% @user.requests.each do |request| %>
    <li><a href="/requests/<%= request.id %>"><br/><%= request.content %></li>
  <% end %>
  </ol>
<% end %>

<a href="/requests/all">View All Requests:</a>

<ol>
<% Request.all.each do |request| %>
  <li><a href="/requests/<%= request.id %>"><br/><%= request.content %></li>
<% end %>
</ol>
