<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!--  <a class="navbar-brand" href="#">Navbar</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/clients">Clients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
<h1>Product Listing</h1>
<strong>Product:</strong>
<%= @product.name %>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @product.gender %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<a href='/products/<%= @product.id %>/edit' class="btn btn-default">Edit Product</a><br><br>
<form action="/products/<%= @product.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>