<!DOCTYPE html>
<html>
  <head>
    <title>Musicians Venue Guide</title>
    <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body class="gradient">
    <header>
    <h1>Musician's Venue Guide</h1>
    <%= '<a href="/logout">Logout</a>&nbsp; &nbsp;' if logged_in? %>
    <%= '<a href="/login">Login</a>&nbsp; &nbsp;' if !logged_in? %>
    <a href="/reviews">Reviews</a>&nbsp; &nbsp; <a href="/venues">Venues</a>
    <%= "&nbsp; &nbsp;<a href='/musicians/#{current_user.slug}'>Home</a>" if logged_in? %>
    </header>
    <br></br>
    <div class="content">
      <%= yield %>
    <div>
  </body>
</html>
